@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

@keyframes marquee-horizontal {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(100%);
  }
}

@media (min-width: 640px) {
  @keyframes marquee-horizontal {
    0% {
      transform: translateX(-50%);
    }

    100% {
      transform: translateX(100%);
    }
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(-98%);
  }

  100% {
    transform: translateY(100%);
  }
}


@keyframes marquee-vertical-reverse {
  0% {
    transform: translateY(98%);
  }

  100% {
    transform: translateY(-100%);
  }
}